{% include 'header.twig' %}

	<h3>Your opinion</h3>

	<input type="range" min="0" max="100" value="50" step="5">

	<h3>Live results</h3>

	<progress value="50" max="100">50%</progress>

	<pre class="data">
Users: <span class="users"></span>
Average result: <span class="average"></span>
	</pre>


	<script src="/socket.io/socket.io.js"></script>
	<script>
		let socket = io(),
			d = document,
			range = d.querySelector('[type="range"]'),
			output = d.querySelector('.average'),
			progress = d.querySelector('progress'),
			users = d.querySelector('.users');

		socket.on('connect', () => {
			socket.emit('range change', range.value);
			socket.emit('room enter', window.location.pathname);
		});

		range.addEventListener('input', e => {
			e.preventDefault();
			socket.emit('range change', range.value);
		});

		socket.on('average change', value => {
			output.innerHTML = value;
			progress.value = value;
			progress.innerHTML = value + '%';
		});

		socket.on('update users', value => {
			users.innerHTML = value;
		});

		socket.on('log', value => {
			console.info(value);
		});
	</script>

{% include 'footer.twig' %}
