	<script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>

	<script>
	// Initialize Firebase
	var config = {
		apiKey: "AIzaSyBGHqRMAjkNDiojFtq9N3SsZ07nTra-CRI",
		authDomain: "livepoll-1a4e5.firebaseapp.com",
		databaseURL: "https://livepoll-1a4e5.firebaseio.com",
		storageBucket: "livepoll-1a4e5.appspot.com",
		messagingSenderId: "308828594801"
	};

	firebase.initializeApp(config);
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

	<script>
		if ('serviceWorker' in navigator) {
			window.addEventListener('load', function() {
				navigator.serviceWorker.register('/sw.js', {
					scope: '/'
				});
			});
		}

		WebFont.load({
			google: {
				families: ['Anonymous Pro:400,700']
			}
		});
	</script>
</body>
</html>
