{% include 'header.twig' %}

	<h2>Action! Start a new livepoll room.</h2>
	<p>Name: <code class="name"></code></p>
	<a href="#" class="link btn">Start poll!</a>


	<script>
		let alphabet = '0123456789abcdefghijkmnpqrstuvwxyz',
			base = alphabet.length,
			length = 5,
			input,
			encoded = '',
			i = 0;

		for(i; i < length; i++) {
			input = Math.ceil(Math.random() * 100);
			encoded += alphabet[input % base];
		}

		document.querySelector('.name').innerHTML = encoded;
		document.querySelector('.link').setAttribute('href', '/poll/' + encoded);
	</script>

{% include 'footer.twig' %}
