html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

html * {
	box-sizing: inherit;
}

body {
	color: #111;
	font-size: 1.6rem;
	font-family: 'Anonymous Pro', 'Courier New', monospace;
	font-weight: 400;
	line-height: 1.6;
	padding: 2em;
	min-width: 32rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 1.5em;
	overflow: hidden;

}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: inherit;
	text-decoration: none;
}

.head {
	color: #fff;
	margin-top: -2em;
	margin-right: -2em;
	margin-left: -2em;
	background: #111;
	padding: 2em;
}

.btn {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 0.5em 1em;
	background: firebrick;
	font-weight: bold;
	border-radius: 2px;
	box-shadow: 1px 1px 0 #700, 2px 2px 0 #700;
}

.btn:hover,
.btn:focus {
	background: #700;
	box-shadow: 1px 1px 0 #111, 2px 2px 0 #111;
}

.btn:focus {
	box-shadow: inset 2px 2px 0 #111;
	box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	left: 2px;
	top: 2px;
}
